:root {
  --finsa-container: 1442px;
  --finsa-mobile-bp: 992px;
                
  --finsa-color-text: #2E2E2E;
                    
  --finsa-font-family01: "Helvetica Neue"; }
  :root .row.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    :root .row.no-gutters > [class^="col-"],
    :root .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0; }
  :root body {
    background-color: white; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  vertical-align: baseline; }

                                                 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

a {
  text-decoration: none; }

em {
  font-style: oblique !important; }

strong {
  font-weight: bold !important; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue.woff2") format("woff2"), url("../../fonts/HelveticaNeue.woff") format("woff"), url("../../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-BoldItalic.woff") format("woff"), url("../../fonts/HelveticaNeue-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../../fonts/HelveticaNeue-CondensedBlack.woff") format("woff"), url("../../fonts/HelveticaNeue-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-Italic.woff") format("woff"), url("../../fonts/HelveticaNeue-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-LightItalic.woff") format("woff"), url("../../fonts/HelveticaNeue-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../../fonts/HelveticaNeue-Light.woff") format("woff"), url("../../fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-MediumItalic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-MediumItalic.woff") format("woff"), url("../../fonts/HelveticaNeue-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../../fonts/HelveticaNeue-Thin.woff") format("woff"), url("../../fonts/HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-ThinItalic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-ThinItalic.woff") format("woff"), url("../../fonts/HelveticaNeue-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-UltraLightItalic.woff2") format("woff2"), url("../../fonts/HelveticaNeue-UltraLightItalic.woff") format("woff"), url("../../fonts/HelveticaNeue-UltraLightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../../fonts/HelveticaNeue-UltraLight.woff2") format("woff2"), url("../../fonts/HelveticaNeue-UltraLight.woff") format("woff"), url("../../fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

.clear-both {
  float: none;
  clear: both; }

.d-none {
  display: none !important; }

@media only screen and (max-width: 991px) {
  .hide-in-mobile {
    display: none !important; } }

@media only screen and (min-width: 992px) {
  .hide-in-desktop {
    display: none !important; } }

.overflow-hidden {
  overflow: hidden !important; }

.dblock {
  display: block !important; }

.w-100 {
  width: 100%; }

.w-60 {
  width: 60%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.finsa-bg-gray {
  background: #E5E5E5; }

.finsa-combo {
  border: none;
  cursor: pointer; }
  .finsa-combo:hover, .finsa-combo:active, .finsa-combo:focus {
    border: none;
    outline: none; }

.finsa-view-more-down {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  font-family: var(--finsa-font-family01);
  text-align: center;
  color: #CE0E2D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 50px; }

.finsa-view-more-inline {
  font-family: var(--finsa-font-family01);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #CE0E2D;
  display: flex;
  align-items: center;
  padding-right: 90px;
  white-space: nowrap;
  letter-spacing: 0.05em; }
  @media screen and (max-width: 991px) {
    .finsa-view-more-inline {
      padding-right: 20px; } }
  .finsa-view-more-inline:hover {
    color: #CE0E2D; }
  .finsa-view-more-inline img {
    margin-left: 20px; }

.finsa-line-link {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.4s ease-in; }
  .finsa-line-link.finsa-line-link-left {
    justify-content: flex-start; }
  .finsa-line-link .finsa-link {
    font-family: var(--finsa-font-family01);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #CE0E2D;
    padding: 10px 5px;
    transition: all 0.4s ease-in; }
  .finsa-line-link:hover .finsa-link {
    padding-left: 25px; }
  .finsa-line-link img {
    width: 40px !important; }

html {
  scroll-behavior: smooth; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent; }
